@media (max-width: 1024px) {

  .about,
  .case,
  .page {
    padding-top: clamp(1.88rem, calc(0.68rem + 3.82vw), 3.13rem);
    /* 50-30px */
  }

  hr,
  .about,
  .case,
  .case-wrap,
  .title,
  .page__wrapper,
  .page__back,
  .vases-mag,
  .vases-info__title,
  .news {
    margin-bottom: clamp(1.88rem, calc(0.68rem + 3.82vw), 3.13rem);
    /* 50-30px */
  }

  /* section content ************************* */
  .title {
    font-size: clamp(1.75rem, calc(1.39rem + 1.15vw), 2.13rem);
    /* 34-28px */
  }

  /* section about ************************* */
  .about__video-wrap,
  .about__text-wrap {
    width: 48%;
  }

  .reference {
    font-size: clamp(1rem, calc(0.88rem + 0.38vw), 1.13rem);
    /* 18-16 */
  }

  .about__text {
    font-size: clamp(0.88rem, calc(0.76rem + 0.38vw), 1rem);
    /* 16-14px */
  }

  /* section form ************************* */
  .form {
    width: clamp(18.75rem, calc(6.82rem + 38.17vw), 31.25rem);
    /* 500-300px */
  }

  .page__title,
  .page__price {
    margin-bottom: clamp(0.63rem, calc(0.03rem + 1.91vw), 1.25rem);
    /* 20-10px */
  }

  /* section surrealism ************************* */

  /* section sculpture ************************* */
  .sculpture__hr {
    margin-bottom: 50px;
  }

  /* section vases ************************* */
  .vases-mag__wrapper {
    max-width: 90%;
    gap: clamp(1.25rem, calc(-4.71rem + 19.08vw), 7.5rem);
    /* 120-20px */
  }

  .vases-mag__text {
    font-size: clamp(0.75rem, calc(0.51rem + 0.76vw), 1rem);
    /* 16-12px */
    line-height: clamp(1.13rem, calc(0.83rem + 0.95vw), 1.44rem);
    /* 23-18px */
    margin-bottom: clamp(0.63rem, calc(-1.76rem + 7.63vw), 3.13rem);
    /* 50-10px */
  }

  .vases-mag__logo-img {
    margin-bottom: clamp(0.63rem, calc(-0.27rem + 2.86vw), 1.56rem);
    /* 25-10px */
  }

  .vases-mag__site {
    font-size: clamp(1rem, calc(0.64rem + 1.15vw), 1.38rem);
    /* 22-16px */
  }

  /* section news ************************* */
  .news__wrapper {
    grid-row-gap: clamp(1.88rem, calc(0.68rem + 3.82vw), 3.13rem);
  }

  .news__subtitle {
    font-size: clamp(1.38rem, calc(1.02rem + 1.15vw), 1.75rem);
    /* 28-22 */
  }

  .news__date,
  .page__price {
    font-size: clamp(1rem, calc(0.88rem + 0.38vw), 1.13rem);
    /* 18-16 */
  }

  /* section page ************************* */
  .page__paragraph,
  .news__paragraph {
    font-size: clamp(0.88rem, calc(0.76rem + 0.38vw), 1rem);
    /* 16-14px */
  }

  /* section footer ************************* */
  .footer__social-link {
    width: clamp(1.5rem, calc(1.32rem + 0.57vw), 1.69rem);
    /* 27-24px */
  }
}

@media (max-width: 768px) {
  .main__wrapper {
    min-height: calc(100svh - 160px);
    margin-top: 61px;
  }

  .header__first-wrap {
    justify-content: space-between;
    border: none;
    padding: 18px 0px;
  }

  .header__menu {
    top: 0px;
    background-color: transparent;
    z-index: -1;
  }

  .header__burger {
    visibility: visible;
  }

  .menu {
    width: 100%;
    height: 100svh;
    position: absolute;
    top: 60px;
    left: -100%;
    background-color: var(--color-bg);
    visibility: hidden;
    will-change: transform;
    transition: transform 0.5s, visibility 0.5s;
  }

  .menu__list {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding: 0px clamp(0.94rem, calc(-0.91rem + 5.91vw), 5rem);
  }

  .menu__item {
    width: 100%;
    border-bottom: 1px solid var(--color-border);
    padding: 0;
    padding-bottom: 17px;
    margin: 20px 0 0px;
  }

  .menu__link {
    text-align: left;
    padding: 0px;
  }

  .menu__span {
    padding-right: 50px;
  }

  .storage-arrow {
    display: none;
  }

  .menu__submenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: none;
    margin-left: 10px;
  }

  .menu__submenu-item:first-child {
    padding-top: 0;
  }

  .menu__submenu-item:last-child {
    margin: 0;
  }

  /* accordion start */
  .menu__details {
    display: block;
    position: relative;
    transition: 0.3s;
    overflow: hidden;
  }

  .menu__details::after {
    width: 10px;
    height: 10px;
    display: block;
    content: "";
    position: absolute;
    right: 24px;
    top: 7px;
    border-right: 1.5px solid var(--color-text);
    border-bottom: 1.5px solid var(--color-text);
    transform: rotate(45deg);
    transform-origin: center;
    transition: 0.3s;
    z-index: -1;
  }

  .menu__details[open]::after {
    transform: rotate(225deg);
  }

  .menu__details[open] {
    padding-bottom: 80px;
  }

  .menu__details[open] .menu__link-details {
    margin-bottom: 20px;
  }

  .menu__link-details::-webkit-details-marker {
    display: none;
  }

  .menu__details-content p:last-child {
    margin-bottom: 0;
  }

  .menu__details-content p:first-child {
    margin-top: 0;
  }

  /* accordion end */

  .header.open .menu {
    visibility: visible;
    transform: translateX(100%);
  }

  /* section about ************************* */
  .about__wrapper {
    flex-direction: column;
  }

  .about__video-wrap {
    width: 100%;
    margin-bottom: 50px;
  }

  .about__text-wrap {
    width: 100%;
  }

  .about__text {
    font-size: 1.0625rem;
    /* 17px */
  }

  /* case ************************* */
  .pattern {
    padding: clamp(3.13rem, calc(0.79rem + 7.46vw), 4.38rem);
    /* 70-50px */
  }

  /* section vases ************************* */
  .vases-info__img-1,
  .vases-info__img-2 {
    margin-bottom: 20px;
  }

  .vases-info__text {
    font-size: 14px;
    line-height: 20px;
  }

  /* section page ************************* */
  .page__wrapper {
    flex-direction: column;
  }

  .page__figure {
    margin-bottom: 40px;
  }

  .page__picture {
    cursor: default;
    margin: 0 auto;
  }

  .page__img:hover {
    opacity: 1;
  }

  .page__info {
    max-width: 100%;
    margin: 0 auto;
  }

  /* section paintings ************************* */

  /* section surrealism ************************* */

  /* section sculpture ************************* */

  /* section news ************************* */

  .news__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  /*! надо убрать в процессе доработки */
  .spam-3 {
    display: none;
  }

  /* section contacts ************************* */
  .contacts {
    height: calc(100svh - 160px);
  }

  .contacts__subtitle {
    font-size: clamp(0.88rem, calc(0.64rem + 0.75vw), 1rem);
    /* 16-14px */
  }

  .contacts__mail {
    font-size: clamp(0.75rem, calc(0.52rem + 0.75vw), 0.88rem);
    /* 14-12px */
    margin-bottom: 50px;
  }

  /* section plug ************************* */
  .plug__wrapper {
    height: calc(100svh - 160px);
  }

  .plug-arrow {
    top: calc(100vh - 250px);
  }

  /* footer ************************* */
  .footer__social {
    max-width: 150px;
  }

  .footer__mail-icon {
    display: block;
  }

  .footer__mail {
    display: none;
  }
}

@media (max-width: 500px) {

  /* section about ************************* */
  .about__video-wrap {
    margin-bottom: 30px;
  }

  /* case ************************* */
  .case-wrap {
    grid-template-columns: repeat(1, 1fr);
  }

  .case-box {
    justify-content: normal;
  }

  /* section page ************************* */
  .page {
    max-width: 100%;
  }

  .page__wrapper {
    margin-bottom: 30px;
  }

  .page__figure {
    margin-bottom: 30px;
  }

  /* section paintings ************************* */
  .paintings__wrapper {
    margin-bottom: 70px;
  }

  .paintings__picture {
    max-height: 300px;
  }

  .paintings__modal-subtitle {
    margin-bottom: 10px;
  }

  .paintings__modal-date {
    margin-bottom: 10px;
  }

  .paintings__modal-paragraph {
    margin-bottom: 10px;
  }

  /* section surrealism ************************* */
  .surrealism {
    margin-bottom: 50px;
  }

  .surrealism__title {
    text-align: center;
  }

  .surrealism__wrapper {
    grid-row-gap: 80px;
  }

  /* section sculpture ************************* */
  .sculpture__wrapper {
    grid-column-gap: normal;
    grid-row-gap: 50px;
    margin-bottom: 50px;
  }

  /* section vases ************************* */
  .vases-mag__wrapper {
    max-width: 80%;
    flex-direction: column;
  }

  .vases-mag__logo {
    display: none;
  }

  .vases-mag__logo-top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .vases-mag__logo-img {
    margin: 0;
  }

  .vases-info__img-1,
  .vases-info__img-2 {
    margin-bottom: 10px;
  }

  .vases-info__text {
    margin-bottom: 35px;
  }

  /* section news ************************* */
  .news__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 30px;
  }

  .news__box-img {
    align-content: center;
  }

  .spam-3 {
    display: block;
  }

  /* section contacts ************************* */
  .contacts__social {
    max-width: 50svw;
  }

  .footer__footnote {
    font-size: 12px;
    padding-right: 15px;
  }

  .footer__social {
    max-width: 32%;
  }

  .footer__social-link {
    width: 24px;
  }
}

@media (max-width: 360px) {
  .menu__list {
    padding: 25px;
  }
}