@media (max-width: 1024px) {
  .case {
    padding-top: clamp(1.88rem, calc(0.68rem + 3.82vw), 3.13rem);
    /* 50-30px */
  }

  hr {
    margin-bottom: clamp(1.88rem, calc(0.68rem + 3.82vw), 3.13rem);
    /* 50-30px */
  }

  .case,
  .case-wrap,
  .title,
  .page__wrapper,
  .page__back,
  .vases-mag,
  .vases-info__title,
  .news {
    margin-bottom: clamp(1.88rem, calc(0.68rem + 3.82vw), 3.13rem);
    /* 50-30px */
  }

  .about__wrapper,
  .exhibitions__wrapper,
  .press__wrapper,
  .film__wrapper,
  .mag__wrapper {
    margin-bottom: clamp(2.5rem, calc(1.9rem + 1.91vw), 3.13rem);
    /* 50-40px */
  }

  /* section content ************************* */
  .title {
    font-size: clamp(1.75rem, calc(1.39rem + 1.15vw), 2.13rem);
    /* 34-28px */
    font-size: clamp(1.63rem, calc(1.27rem + 1.15vw), 2rem);
    /* 32-26px */
  }

  /* section about ************************* */
  .about-home__title {
    margin: 0;
  }

  .about__title {
    margin-bottom: clamp(0.63rem, calc(-6.87rem + 15.63vw), 3.13rem);
    /* 50-10px */
  }

  .exhibitions__title {
    margin-bottom: clamp(0.63rem, calc(-6.87rem + 15.63vw), 3.13rem);
    /* 50-10px */
  }

  .press__title {
    margin-bottom: clamp(0.63rem, calc(-6.87rem + 15.63vw), 3.13rem);
    /* 50-10px */
  }

  .film__title {
    margin-bottom: clamp(0.63rem, calc(-6.87rem + 15.63vw), 3.13rem);
    margin-bottom: 0px;
  }

  .mag__title {
    margin-bottom: clamp(0.63rem, calc(-6.87rem + 15.63vw), 3.13rem);
  }

  .reference {
    font-size: clamp(0.75rem, calc(0.63rem + 0.38vw), 0.88rem);
    /* 14-12px */
  }

  .exhibitions__text {
    font-size: clamp(0.88rem, calc(0.76rem + 0.38vw), 1rem);
    /* 16-14px */
  }

  .press__text {
    font-size: clamp(0.88rem, calc(0.76rem + 0.38vw), 1rem);
    /* 16-14px */
  }

  .film__text {
    font-size: clamp(0.88rem, calc(0.76rem + 0.38vw), 1rem);
    /* 16-14px */
  }

  .mag__text {
    font-size: clamp(0.88rem, calc(0.76rem + 0.38vw), 1rem);
    /* 16-14px */
  }

  /* section form ************************* */
  .form {
    width: clamp(18.75rem, calc(6.82rem + 38.17vw), 31.25rem);
    /* 500-300px */
  }

  .page__title,
  .page__price {
    margin-bottom: clamp(0.63rem, calc(0.03rem + 1.91vw), 1.25rem);
    /* 20-10px */
  }

  /* section print ************************* */

  /* section sculpture ************************* */
  .sculpture__hr {
    margin-bottom: 50px;
  }

  /* section vases ************************* */
  .vases-mag__wrapper {
    max-width: 90%;
    gap: clamp(1.25rem, calc(-4.71rem + 19.08vw), 7.5rem);
    /* 120-20px */
  }

  .vases-mag__text {
    font-size: clamp(0.75rem, calc(0.51rem + 0.76vw), 1rem);
    /* 16-12px */
    line-height: clamp(1.13rem, calc(0.83rem + 0.95vw), 1.44rem);
    /* 23-18px */
    margin-bottom: clamp(0.63rem, calc(-1.76rem + 7.63vw), 3.13rem);
    /* 50-10px */
  }

  .vases-mag__logo-img {
    margin-bottom: clamp(0.63rem, calc(-0.27rem + 2.86vw), 1.56rem);
    /* 25-10px */
  }

  .vases-mag__site {
    font-size: clamp(1rem, calc(0.64rem + 1.15vw), 1.38rem);
    /* 22-16px */
  }

  /* section news ************************* */
  .news__grid {
    grid-row-gap: clamp(1.88rem, calc(0.68rem + 3.82vw), 3.13rem);
  }

  .news__subtitle {
    font-size: clamp(1.38rem, calc(1.14rem + 0.76vw), 1.63rem);
    /* 26-22 */
  }

  .news__date,
  .page__price {
    font-size: clamp(1rem, calc(0.88rem + 0.38vw), 1.13rem);
    /* 18-16 */
  }

  /* section page ************************* */
  .page__paragraph,
  .news__paragraph {
    font-size: clamp(0.88rem, calc(0.76rem + 0.38vw), 1rem);
    /* 16-14px */
  }

  /* section footer ************************* */
  .footer__social-link {
    width: clamp(1.5rem, calc(1.32rem + 0.57vw), 1.69rem);
    /* 27-24px */
  }
}

@media (max-width: 768px) {
  .main__wrapper {
    min-height: calc(100svh - 140px);
    margin-top: 60px;
  }

  .header__first-wrap {
    justify-content: space-between;
    border: none;
    padding: 18px 0px;
  }

  .header__menu {
    top: 0px;
    background-color: transparent;
    z-index: -1;
  }

  .header__burger {
    visibility: visible;
  }

  .menu {
    width: 100%;
    height: 100svh;
    position: absolute;
    top: 60px;
    left: -100%;
    background-color: var(--color-bg);
    visibility: hidden;
    will-change: transform;
    transition: transform 0.5s, visibility 0.5s;
  }

  .menu__list {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding: 0px clamp(0.94rem, calc(-0.91rem + 5.91vw), 5rem);
  }

  .menu__item {
    width: 100%;
    border-bottom: 1px solid var(--color-border);
    padding: 0;
    padding-bottom: 17px;
    margin: 20px 0 0px;
  }

  .menu__link {
    text-align: left;
    padding: 0px;
  }

  .menu__span {
    padding-right: 50px;
  }

  .storage-arrow {
    display: none;
  }

  .menu__submenu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: none;
    margin-left: 10px;
  }

  .menu__submenu-item:first-child {
    padding-top: 0;
  }

  .menu__submenu-item:last-child {
    margin: 0;
  }

  /* accordion start */
  .menu__details {
    display: block;
    position: relative;
    transition: 0.3s;
    overflow: hidden;
  }

  .menu__details::after {
    width: 10px;
    height: 10px;
    display: block;
    content: "";
    position: absolute;
    right: 24px;
    top: 7px;
    border-right: 1.5px solid var(--color-text);
    border-bottom: 1.5px solid var(--color-text);
    transform: rotate(45deg);
    transform-origin: center;
    transition: 0.3s;
    z-index: -1;
  }

  .menu__details[open]::after {
    transform: rotate(225deg);
  }

  /* .menu__details[open] {
    padding-bottom: 80px;
  } */

  .menu__details[open] .menu__link-details {
    margin-bottom: 20px;
  }

  .menu__link-details::-webkit-details-marker {
    display: none;
  }

  .menu__details-content p:last-child {
    margin-bottom: 0;
  }

  .menu__details-content p:first-child {
    margin-top: 0;
  }

  /* accordion end */

  .header.open .menu {
    visibility: visible;
    transform: translateX(100%);
  }

  /* section home ************************* */
  .banner {
    margin-bottom: 50px;
  }

  .about-home__wrapper {
    align-items: center;
  }

  .about-home__box {
    margin-bottom: 30px;
  }

  .title-box__mobil {
    display: flex;
    align-items: center;
  }

  .title-box__desktop {
    display: none;
  }

  .about-home__title {
    width: 100%;
    text-align: start;
  }

  .about-home__quote {
    width: 100%;
  }

  /* section about ************************* */
  .about__wrapper {
    align-items: center;
  }

  .about__title {
    margin-bottom: 10px;
  }

  .exhibitions__wrapper {
    align-items: center;
  }


  /* case ************************* */

  /* section vases ************************* */
  .vases-info__img-1,
  .vases-info__img-2 {
    margin-bottom: 20px;
  }

  .vases-info__text {
    font-size: 14px;
    line-height: 20px;
  }

  /* section page ************************* */
  .page__wrapper {
    flex-direction: column;
  }

  .page__gallery {
    margin-bottom: 40px;
  }

  .page__info {
    max-width: 100%;
    margin: 0 auto;
  }

  /* section paintings ************************* */

  /* section print ************************* */

  /* section sculpture ************************* */

  /* section news ************************* */

  .news__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  /* section contacts ************************* */
  .contacts {
    height: calc(100svh - 160px);
  }

  .contacts__subtitle {
    font-size: clamp(0.88rem, calc(0.64rem + 0.75vw), 1rem);
    /* 16-14px */
  }

  .contacts__mail {
    font-size: clamp(0.75rem, calc(0.52rem + 0.75vw), 0.88rem);
    /* 14-12px */
    margin-bottom: 50px;
  }

  /* section plug ************************* */
  .plug__wrapper {
    height: calc(100svh - 140px);
  }

  .plug-arrow {
    top: calc(100vh - 250px);
  }

  /* footer ************************* */
  .footer__wrapper {
    height: 80px;
  }

  .footer__social {
    max-width: 150px;
  }

  .footer__mail-icon {
    display: block;
  }

  .footer__mail {
    display: none;
  }
}

@media (max-width: 500px) {
  .about-home__wrapper {
    flex-direction: column;
  }

  .about-home__text-wrap {
    padding-bottom: 0;
    width: 100%;
  }

  .about-home__video-wrap {
    width: 100%;
    margin-bottom: 30px;
  }

  /* page about ************************* */
  /* banner ************************* */
  .banner__picture-about {
    display: none;
  }

  .banner__picture-about-mobile {
    display: block;
    margin-bottom: 10px;
  }

  .banner__about-img-mobile {
    width: 100%;
    max-width: 100svw;
    height: auto;
    min-height: 265px;
  }

  /* about ************************* */
  .about__wrapper {
    flex-direction: column;
  }

  .about__text-wrap {
    width: 100%;
    margin-bottom: 30px;
  }

  .about__title {
    text-align: center;
  }

  .about__picture-wrap {
    width: 100%;
  }

  /* exhibitions ************************* */
  .exhibitions__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .exhibitions__video-wrap {
    width: 100%;
  }

  .exhibitions__text-wrap {
    width: 100%;
    margin-bottom: 30px;
  }

  .exhibitions__title {
    text-align: center;
  }

  /* press ************************* */
  .press__wrapper {
    flex-direction: column;
  }

  .press__text-wrap {
    width: 100%;
    margin-bottom: 30px;
  }

  .press__title {
    text-align: center;
  }

  .press__picture {
    width: 100%;
  }

  /* film ************************* */
  .film__wrapper {
    flex-direction: column;
  }

  .film__text-wrap {
    width: 100%;
    margin-bottom: 30px;
  }

  .film__title {
    text-align: center;
    margin-bottom: 10px;
  }

  .film__picture {
    width: 100%;
  }

  /* mag ************************* */
  .mag__wrapper {
    flex-direction: column;
  }

  .mag__text-wrap {
    width: 100%;
    margin-bottom: 30px;
  }

  .mag__title {
    text-align: center;
    margin-bottom: 10px;
  }

  .mag__picture {
    width: 100%;
  }

  /* case ************************* */
  .case-wrap {
    grid-template-columns: repeat(1, 1fr);
  }

  .case-box {
    justify-content: normal;
  }

  /* section page ************************* */
  .page {
    max-width: 100%;
  }

  .page__wrapper {
    margin-bottom: 30px;
  }

  .page__gallery {
    margin-bottom: 30px;
  }

  /* section paintings ************************* */
  .paintings__wrapper {
    margin-bottom: 70px;
  }

  .paintings__picture {
    max-height: 300px;
  }

  .paintings__modal-subtitle {
    margin-bottom: 10px;
  }

  .paintings__modal-date {
    margin-bottom: 10px;
  }

  .paintings__modal-paragraph {
    margin-bottom: 10px;
  }

  /* section reportage ************************* */
  .reportage {
    margin-bottom: 50px;
  }

  .reportage__title {
    text-align: center;
  }

  .reportage__wrapper {
    grid-row-gap: 80px;
  }

  /* section concept ************************* */
  .concept {
    margin-bottom: 50px;
  }

  .concept__title {
    text-align: center;
  }

  .concept__wrapper {
    grid-row-gap: 80px;
  }

  /* section print ************************* */
  .print {
    margin-bottom: 50px;
  }

  .print__title {
    text-align: center;
  }

  .print__wrapper {
    grid-row-gap: 80px;
  }

  /* section sculpture ************************* */
  .sculpture__wrapper {
    grid-column-gap: normal;
    grid-row-gap: 50px;
  }

  /* section vases ************************* */
  .vases-mag__wrapper {
    max-width: 80%;
    flex-direction: column;
  }

  .vases-mag__logo {
    display: none;
  }

  .vases-mag__logo-top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .vases-mag__logo-img {
    margin: 0;
  }

  .vases-info__img-1,
  .vases-info__img-2 {
    margin-bottom: 10px;
  }

  .vases-info__text {
    margin-bottom: 35px;
  }

  /* section news ************************* */
  .news__grid {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 30px;
  }

  .news__box-img {
    align-content: center;
  }

  .spam-3 {
    display: block;
  }

  /* section contacts ************************* */
  .contacts__social {
    max-width: 50svw;
  }

  .footer__footnote {
    font-size: 12px;
    padding-right: 15px;
  }

  .footer__social {
    max-width: 32%;
  }

  .footer__social-link {
    width: 24px;
  }
}

@media (max-width: 360px) {
  .menu__list {
    padding: 25px;
  }
}