.news {
  padding-top: clamp(1.88rem, calc(-0.51rem + 7.63vw), 4.38rem);
}

.news__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 768px) {
  .news__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .spam-3 {
    display: block;
  }
}

@media (max-width: 500px) {
  .news__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 30px;
  }

  .news__box-img {
    align-content: center;
  }
}