html {
  box-sizing: border-box;
  overflow-x: hidden;
  /* scroll-behavior: smooth; */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a,
li,
button {
  color: inherit;
  text-decoration: none;
  list-style: none;
  border: 0;
  outline: 0;
  cursor: pointer;
}

li {
  cursor: default;
}

p,
ul,
button {
  padding: 0;
  margin: 0;
}

img,
video {
  width: 100%;
  max-width: 100svw;
  height: auto;
  /* max-height: 100svh; */
  object-fit: cover;
  vertical-align: middle;
}

h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

:root {
  --color-bg: rgb(255, 255, 255);
  --color-bg-page: rgb(246, 246, 246);
  --color-text: rgb(34, 34, 34);
  --color-hover-menu: rgb(0, 0, 0);
  --color-border: rgba(200, 200, 200, 0.8);
  --color-hr: rgba(238, 238, 238, 0.8);
  --color-white: rgb(255, 255, 255);
  --margin-bottom-1440: 70px;
  --margin-bottom-1024: 50px;
  --margin-bottom-768: 30px;
  --color-text-focus: #404040;
}

body {
  width: 100%;
  min-height: 100svh;
  font-family: "Open Sans", "Ubuntu", "Roboto", arial, sans-serif;
  font-size: 1rem;
  background-color: var(--color-bg);
  overflow-x: hidden;
}

.body-wrapper {
  width: 100%;
  position: relative;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 clamp(0.94rem, calc(-0.91rem + 5.91vw), 5rem);
  /* max-80px min-15px */
  margin: 0 auto;
}

/* header ************************* */
.header {
  width: 100%;
  max-width: 100svw;
  position: fixed;
  top: 0;
  background-color: var(--color-bg);
  border-bottom: 1px solid var(--color-border);
  z-index: 1;
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.header__first {
  width: 100%;
  height: 60px;
  max-height: 60px;
  background-color: var(--color-bg);
  border-bottom: 1px solid var(--color-border);
}

.header__first-wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0px 15px;
  margin: 0 auto;
}

/* burger ************************* */
.header__burger {
  width: 24px;
  height: 22px;
  visibility: hidden;
  position: relative;
  background-color: transparent;
  outline: none;
  z-index: 5;
}

.header__burger span {
  width: 24px;
  height: 1.5008px;
  display: block;
  position: absolute;
  background-color: var(--color-text);
  will-change: transform;
  transition: background-color 0.3s, opacity 0.3s, transform 0.5s;
}

.header__burger span:nth-child(1) {
  transform: translateY(-7px);
}

.header__burger span:nth-child(2) {
  transform: translateY(0px);
}

.header__burger span:nth-child(3) {
  transform: translateY(7px);
}

.header__burger:focus span {
  background-color: var(--color-hover-menu);
}

.header__burger:hover span {
  height: 2.5px;
  background-color: var(--color-hover-menu);
}

.header__burger:active span {
  background-color: var(--color-hover-menu);
}

/* Крестик ************************* */
.header.open .header__burger span {
  background-color: var(--color-text);
}

.header.open .header__burger:focus span {
  background-color: var(--color-hover-menu);
}

.header.open .header__burger:hover span {
  background-color: var(--color-hover-menu);
}

.header.open .header__burger:active span {
  background-color: var(--color-hover-menu);
}

.header.open .header__burger span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}

.header.open .header__burger span:nth-child(2) {
  opacity: 0;
}

.header.open .header__burger span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}

.header__logo {
  color: var(--color-text);
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: color 0.3s;

  &:hover {
    font-weight: 600;
  }
}

/* language button ************************* */
.language-button {
  width: 24px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 2px;

  &:hover {
    outline: 1px solid var(--color-text);
    border-radius: 2px;
  }
}

/* menu ************************* */
.header__menu {
  width: 100%;
  height: 60px;
  max-height: 60px;
  position: fixed;
  top: 60px;
  left: 0;
  background-color: var(--color-bg);
  border-bottom: 1px solid var(--color-border);
  transition: transform 0.3s ease-in;
  z-index: -1;
}

.header__menu.hide {
  transform: translateY(-60px);
}

.menu {
  width: 100%;
}

.menu__list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 17px 0px;
}

.menu__link {
  width: min-content;
  display: block;
  color: var(--color-text);
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color 0.3s;

  &:focus {
    color: var(--color-hover-menu);
  }

  &:hover {
    color: var(--color-hover-menu);
  }

  &:active {
    color: var(--color-hover-menu);
  }
}

.menu__link::after {
  width: 0;
  height: 1px;
  content: "";
  display: block;
  background: var(--color-hover-menu);
  transition: width 0.7s;
}

.menu__link:hover::after {
  width: 100%;
}

.backlight::after {
  width: 100%;
  height: 1px;
  content: "";
  display: block;
  background: var(--color-hover-menu);
  transition: width 0.7s;
}

.menu__link-details {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
}

.menu__link-name {
  width: min-content;
  display: block;
  color: var(--color-text);
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: color 0.3s;

  &:focus {
    color: var(--color-hover-menu);
  }

  &:hover {
    color: var(--color-hover-menu);
  }

  &:active {
    color: var(--color-hover-menu);
  }
}

.menu__link-name::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: var(--color-hover-menu);
  transition: width 0.7s;
}

.menu__link-name:hover::after {
  width: 100%;
}

.menu__storage:hover .menu__submenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.storage-arrow {
  width: 0;
  height: 30px;
  position: relative;
  top: 0;
  left: 8px;
  color: var(--color-text);
}

.storage-arrow:after {
  width: 8px;
  height: 8px;
  content: " ";
  position: absolute;
  top: 7px;
  left: 0px;
  border-bottom: 1.5px solid;
  border-right: 1.5px solid;
  transform: rotateZ(45deg);
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }

  50% {
    margin-top: 20px;
  }

  100% {
    margin-top: 0;
  }
}

.menu__submenu {
  min-width: 110px;
  display: none;
  position: absolute;
  background-color: var(--color-white);
  box-shadow: 0px 23px 20px 2px rgba(0, 0, 0, 0.38);
  z-index: 1;
  padding: 0 10px;
  margin-left: -7px;
}

.menu__submenu-item {
  max-width: min-content;
  display: block;
  margin-bottom: 20px;
}

.menu__submenu-item:first-child {
  padding-top: 30px;
}

.menu__submenu-item:last-child {
  padding-bottom: 8px;
}

.menu__submenu-link {
  color: var(--color-hover-menu);
}

.menu__submenu-link::after {
  width: 0;
  height: 1px;
  content: "";
  display: block;
  background: var(--color-hover-menu);
  transition: width 0.7s;
}

.menu__submenu-link:hover::after {
  width: 100%;
}

details summary::-webkit-details-marker {
  display: none;
}

/* main ************************* */
.main__wrapper {
  width: 100%;
  max-width: 100svw;
  min-height: calc(100svh - 220px);
  margin-top: 120px;
}

/* section content ************************* */
.content {
  width: 100%;
  position: relative;
}

.content__picture {
  width: 100%;
  max-width: 100svw;
  height: auto;
  max-height: 100svh;
}

.content__img {
  width: 100%;
  height: 80svh;
  height: 75svh;
}

.content__title {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--color-bg);
  font-family: "Open Sans";
  font-weight: 500;
  font-size: clamp(2.5rem, calc(1.1rem + 4.47vw), 5.13rem);
  line-height: 80px;
  text-transform: uppercase;
  text-align: center;
  transform: rotate(180deg) translate(50%, 50%);
}

/* section about ************************* */
.about {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* align-items: start; */
  justify-content: space-between;
  padding-top: 50px;
  margin-bottom: 50px;
}

.title {
  color: var(--color-text);
  font-family: "Open Sans";
  font-size: 34px;
  font-weight: 600;
  line-height: 160%;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.about__title {
  text-align: start;
}

.about__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: start;
  justify-content: space-between;
}

.about__video-wrap {
  width: 45%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.about__quote {
  width: 100%;
  max-width: 500px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  font-style: italic;
  text-transform: uppercase;
  text-align: end;
  align-self: flex-end;
  margin-bottom: 30px;
}

.about__picture {
  margin-bottom: 10px;
}

.about__img {
  width: 100%;
  border-radius: 16px;
}

.about__video {
  width: 100%;
  max-height: 700px;
  position: relative;
  border-radius: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}

.about__text-wrap {
  width: 45%;
  max-height: 390px;
  display: inline-block;
  text-align: left;
  margin: auto 0;
}

.about__text {
  color: var(--color-text);
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  overflow: hidden;
  margin-bottom: 20px;
}

.btn {
  width: max-content;
  display: block;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  font-style: italic;
  background-color: var(--color-bg);
  outline: 1px solid var(--color-border);
  border: none;
  border-radius: 3px;
  align-self: center;
  transition: all 0.3s ease-in;
  padding: 5px 10px;

  &:hover {
    outline: 1.5px solid var(--color-hover-menu);
  }
}

/* modal window ************************* */
.modal {
  width: 100%;
  height: 100%;
  max-height: 100svh;
  position: fixed;
  left: 0;
  top: 0;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: var(--color-bg);
  overflow-y: hidden;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 5;
}

.modal__box {
  width: 100%;
  max-width: calc(100svw - 20px);
  height: auto;
  max-height: calc(100svh - 20px);
  position: relative;
  transform: scale(0);
  transition: transform 0.8s;
  z-index: 1;
}

.modal.open {
  visibility: visible;
  opacity: 1;
}

.modal.open .modal__box {
  transform: scale(1);
}

.modal__close-btn {
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--color-bg);
  background-color: transparent;
  border: none;
  border-radius: 9px;
  transition: all 0.3s ease-in;
  padding: 5px;

  &:hover {
    outline: 1px solid var(--color-bg);
  }
}

.modal__close-btn {
  z-index: 1;
}

.modal__video {
  width: 100%;
  max-width: inherit;
  height: auto;
  max-height: inherit;
  object-fit: cover;
  position: relative;
  border-radius: 16px;
  margin: 0 auto;
}

.disable-scroll {
  height: 100svh;
  position: fixed;
  overflow: hidden;
}

hr {
  width: 100%;
  border: none;
  border-top: 1px solid var(--color-border);
  margin: 0 0 50px;
}

/* case ************************* */
.case {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-top: 50px;
  margin-bottom: 50px;
}

.case-wrap {
  max-width: 85%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 7%;
  grid-row-gap: 100px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.case-box {
  max-width: 550px;
  height: auto;
  max-height: 350px;
  /* aspect-ratio: 4/3; */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.pattern {
  max-width: 100%;
  height: 100%;
  background-color: var(--color-bg-page);
  padding: 70px;
  margin-bottom: 10px;
}

.image {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
  transition: all 0.3s ease-in;
  margin: 0;
}

.reference {
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

/* section page ************************* */
.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  padding-top: 50px;
  margin: 0 auto;
}

.page__wrapper {
  width: 100%;
  max-width: 85%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 auto;
  margin-bottom: 50px;
}

.page__gallery {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: move;
  margin: 0 auto;
}

.page__zoomed {
  width: 100%;
  aspect-ratio: 4 / 3;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 20px;
}

.page__gallery-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
}

.page__preview {
  width: 100%;
  max-width: 30%;
  cursor: pointer;
  border: 1px solid var(--color-border);
}

.page__info {
  width: 100%;
  max-width: 38%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 20px;
}

.page__title {
  font-size: 22px;
  margin-bottom: 20px;
}

.page__price {
  font-size: 18px;
  margin-bottom: 20px;
}

.page__open-btn {
  width: 100%;
  color: var(--color-white);
  font-weight: 500;
  font-size: 12px;
  font-style: normal;
  text-transform: uppercase;
  background-color: var(--color-text-focus);
  outline: none;
  padding: 10px 5px;
  margin-bottom: 37px;
}

.page__box {
  font-size: 14px;
  margin-bottom: 30px;
}

.page__box p {
  margin: 0;
  margin-bottom: 5px;
}

.page__box-title,
.page__description-title {
  margin: 0;
  margin-bottom: 5px;
}

.page__box-title,
.page__date {
  font-style: italic;
}

.page__description {
  font-size: 14px;
}

.page__paragraph {
  font-size: 16px;
}

.page__back {
  width: max-content;
  align-self: center;
  margin-bottom: 50px;
}

/* форма для отправки сообщение на почту */
.form__modal {
  width: 100%;
  background-color: transparent;
  backdrop-filter: blur(5px);
}

.notice {
  width: 100%;
  max-width: 500px;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  background-color: var(--color-bg);
  padding: 30px;
}

.notice__title {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 1rem;
}

.notice hr {
  margin-bottom: 2rem;
}

.notice__group-btn {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.notice__mail {
  width: 100%;
  color: var(--color-white);
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--color-text-focus);
  border-radius: 3px;
  outline: none;
  transition: all 0.3s ease-in;
  padding: 10px;
  margin-bottom: 2rem;

  &:hover {
    color: var(--color-text);
    font-weight: 500;
    background-color: var(--color-bg);
    outline: 1px solid var(--color-text);
  }
}

.notice__back {
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid var(--color-text);
  transition: all 0.3s ease-in;
  padding-bottom: 3px;

  &:hover {
    font-weight: 600;
  }
}

/* section paintings ************************* */
.paintings {
  width: 100%;
}

.paintings__title {
  align-self: center;
}

.paintings__wrapper {
  width: 100%;
}

.paintings__box {
  width: 100%;
}

.paintings__picture {
  width: 100%;
}

.paintings__img {
  width: 100%;
}

.paintings__reference {
  font-weight: 600;
  text-align: center;
}

.paintings__btn {
  margin: 0 auto;
}

/* section surrealism ************************* */
.surrealism {
  width: 100%;
}

.surrealism__wrapper {
  width: 100%;
}

.surrealism__box {
  width: 100%;
}

.surrealism__picture {
  width: 100%;
}

.surrealism__img {
  width: 100%;
}

.surrealism__reference {
  font-weight: 600;
  text-align: center;
}

/* section sculpture ************************* */
.sculpture {
  width: 100%;
}

.sculpture__title {
  margin-bottom: 35px;
}

.sculpture__picture-main {
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
}

.sculpture__main-img {
  max-width: 400px;
  display: block;
  object-fit: contain;
  margin: 0 auto;
}

.sculpture__wrapper {
  width: 100%;
  max-width: 70%;
  grid-column-gap: 35%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.sculpture__box {
  width: 100%;
  text-align: center;
}

.sculpture__picture {
  width: 100%;
}

.sculpture__img {
  width: 100%;
  height: auto;
  max-width: 400px;
  margin-bottom: 10px;
}

.sculpture__reference {
  font-weight: 600;
  text-align: center;
}

.sculpture__btn {
  margin: 0 auto;
}

/* section vases ************************* */
.vases__picture {
  width: 100%;
  max-width: 50%;
}

.vases__img {
  width: 100%;
  max-height: 50svh;
}

.vases-mag {
  margin-bottom: 50px;
}

.vases-mag__wrapper {
  width: 100%;
  max-width: 87%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 15%;
  margin: 0 auto;
}

.vases-mag__picture {
  width: 100%;
}

.vases-mag__box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.vases-mag__logo-top {
  display: none;
}

.vases-mag__logo-img {
  width: 100%;
  max-width: 50%;
  margin-bottom: 25px;
}

.vases-mag__text {
  width: 100%;
  color: var(--color-text);
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  overflow: hidden;
  text-align: left;
  margin-bottom: 50px;
}

.vases-mag__site {
  width: 100%;
  color: var(--color-text);
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  overflow: hidden;
  transition: all 0.3s ease-in;
  padding: 8px;

  &:hover {
    font-weight: 600;
  }
}

.vases-info__wrapper {
  width: 100%;
  max-width: 87%;
  margin: 0 auto;
}

.vases-info__title {
  text-align: center;
  margin-bottom: 50px;
}

.vases-info__text {
  width: 100%;
  color: var(--color-text);
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  overflow: hidden;
  text-align: justify;
  hyphens: auto;
  margin-bottom: 50px;
}

.vases-info__img-1 {
  width: 100%;
  width: 42%;
  float: right;
  aspect-ratio: 9 / 8;
  margin-bottom: 30px;
  margin-left: 10%;
}

.vases-info__img-2 {
  width: 100%;
  width: 42%;
  float: left;
  aspect-ratio: 9 / 8;
  margin-right: 10%;
  margin-bottom: 30px;
}

/* section news ************************* */
.news {
  width: 100%;
  margin-bottom: 50px;
}

.news__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2%;
  grid-row-gap: 50px;
  place-content: start;
}

.news__spam {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.news__box-img {
  align-content: center;
}

.news__img {
  max-width: 100%;
  aspect-ratio: 16/9;
  margin-bottom: 20px;
}

.news__box-info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  padding: 0 7%;
}

.news__subtitle {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 28px;
  line-height: 28px;
  margin-bottom: 10px;
}

.news__date {
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 20px;
}

.news__paragraph {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 20px;
}

/* block hidden ************************* */
/* .block-hidden {
  display: none;
} */

/* section contact ************************* */
.contacts {
  width: 100%;
  height: calc(100svh - 220px);
  display: grid;
}

.contacts__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin: auto;
}

.contacts__subtitle {
  color: var(--color-hover-menu);
  text-transform: uppercase;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 160%;
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.contacts__mail {
  text-transform: uppercase;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
  font-style: italic;
  letter-spacing: 3px;
  text-decoration: underline;
  margin-bottom: 70px;
}

.contacts__picture {
  max-width: 500px;
  /* margin-bottom: 50px; */
}

.contacts__social {
  width: 100%;
  max-width: 270px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.contacts__social-link {
  width: 36px;
}

/* section plug ************************* */
.plug {
  width: 100%;
  background-color: rgb(123, 123, 123);
}

.plug__wrapper {
  width: 100%;
  max-width: 70%;
  height: calc(100svh - 220px);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.plug__title {
  color: var(--color-white);
  text-transform: uppercase;
  font-family: "Open Sans";
  /* font-size: 1rem; */
  text-align: center;
  margin-bottom: 100px;
}

.plug__info {
  color: var(--color-white);
  text-transform: uppercase;
  font-family: "Open Sans";
  text-align: center;
}

/* стрелка вниз */
.plug-arrow {
  width: 0;
  height: 30px;
  position: absolute;
  top: calc(100vh - 300px);
  right: 50%;
  left: 50%;
  color: white;
  border: 2px solid;
  border-radius: 2px;
  animation: jumpInfinite 1.5s infinite;
}

.plug-arrow:after {
  width: 16px;
  height: 16px;
  content: " ";
  position: absolute;
  top: 12px;
  left: -8px;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-radius: 4px;
  transform: rotateZ(45deg);
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }

  50% {
    margin-top: 20px;
  }

  100% {
    margin-top: 0;
  }
}

/* footer ************************* */
.footer {
  width: 100%;
  max-width: 100svw;
  border-top: 1px solid var(--color-border);
}

.footer__wrapper {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-bg);
}

.footer__footnote {
  text-transform: uppercase;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 3px;
}

.footer__social {
  width: 100%;
  max-width: 330px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.footer__social-link {
  width: 27px;
}

.footer__mail-icon {
  display: none;
}

.footer__mail {
  text-transform: uppercase;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  font-style: italic;
  letter-spacing: 3px;
}